﻿@model PTCDomain.TrainingProductViewModel
@{
    ViewBag.Title = "Chris Training Company";
}

@using (Html.BeginForm())
{
    <!--BEGIN HIDDEN FIELDS AREA-->

    @Html.HiddenFor(m=>m.EventCommand)
    @Html.HiddenFor(m=>m.Mode)
    @Html.HiddenFor(m=>m.EventArgument)
    @Html.HiddenFor(m=>m.Entity.ProductId)

    <!--END HIDDEN FIELDS AREA-->

    <!--BEGIN SEARCH AREA-->
    if (Model.IsSearchAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search for Products</h1>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchEntity.ProductName, "Product Name")
                    @Html.TextBoxFor(m => m.SearchEntity.ProductName, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnSearch" class="btn btn-sm btn-primary" 
                        data-pdsa-action="search">
                    <i class="glyphicon glyphicon-search">&nbsp; Search </i>
                </button>
                <button id="btnReset" class="btn btn-sm btn-primary"
                        data-pdsa-action="resetsearch">
                    <i class="glyphicon glyphicon-share-alt">&nbsp; Reset</i>
                </button>
                <button id="btnAdd" class="btn btn-sm btn-primary"
                        data-pdsa-action="add">
                    <i class="glyphicon glyphicon-plus-sign">&nbsp; Add</i>
                </button>
            </div>
        </div>
    }
    <!--END SEARCH AREA-->

    <!--BEGIN DETAIL AREA-->
    if(Model.IsDetailAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Product Information</h1>
            </div>
            <div class="panel-body">
                <!--BEGIN MESSSAGE AREA-->
                <div class="row">
                    <div class="col-sm-12">
                        @if(!Model.IsValid)
                        {
                            <div class="alert alert-danger alert-dismissable" role="alert" >
                                <button type="button" class="close" data-dissmiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                @Html.ValidationSummary(false)
                            </div>
                        }
                    </div>
                </div>
                <!--END MESSAGE AREA-->
                <div class="form-group">
                    @Html.LabelFor(m=>m.Entity.ProductName)
                    @Html.TextBoxFor(m=>m.Entity.ProductName, new { @class="form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.IntroductionDate)
                    @Html.TextBoxFor(m => m.Entity.IntroductionDate, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Url)
                    @Html.TextBoxFor(m => m.Entity.Url, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Entity.Price)
                    @Html.TextBoxFor(m => m.Entity.Price, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button id="btnSave" class="btn btn-sm btn-primary"
                                data-pdsa-action="save">
                            <i class="glyphicon glyphicon-floppy-disk">&nbsp; Save </i>
                        </button>
                        <button id="btnCancel" class="btn btn-sm btn-primary"
                                formnovalidate="formnovalidate"
                                data-pdsa-action="cancel">
                            <i class="glyphicon glyphicon-remove-circle">&nbsp; Cancel</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--END DETAIL AREA-->

    <!--BEGIN LIST AREA-->
    if (Model.IsListAreaVisible)
    {
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="pdsa-action-button-column">Edit</th>
                        <th>Product Name</th>
                        <th>Introduction Date</th>
                        <th>Url</th>
                        <th>Price</th>
                        <th class="pdsa-action-button-column">Delete</th>
                    </tr>
                </thead>
                <thead>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td class="pdsa-action-button-column">
                                <a href="#" data-pdsa-action="edit" 
                                   data-pdsa-val="@item.ProductId"
                                   class="btn btn-default btn-sm">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.IntroductionDate</td>
                            <td>@item.Url</td>
                            <td>@item.Price.ToString("c")</td>
                            <td class="pdsa-action-button-column">
                                <a href="#" data-pdsa-action="delete"
                                   data-pdsa-val="@item.ProductId"
                                   onclick="return confirm('Are you sure you want to delete');"
                                   class="btn btn-default btn-sm">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </thead>
            </table>
        </div>  
    }
    <!--END LIST AREA-->
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault();

                $("#EventCommand").val($(this).data("pdsa-action"));
                $("#EventArgument").val($(this).data("pdsa-val"));
                $("form").submit();
            });
        });
    </script>
}